body{
   
}

header{
    grid-area: header;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2{
    font-size: 30px;
    text-transform: uppercase;
    color:rgb(210, 167, 210);   
}

#footer{
    grid-area: footer;
}

.main{
    grid-area: main_content;
    grid-template-columns: 1.2fr 1fr;
    grid-template-areas: "main_map contents";
    display: grid;
}

#contents{
    grid-area: contents; 
}

#the_map{
    height:60vh;
    width: 80vh;
    grid-area: main_map;
    
}
