

header{
    grid-area: header;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2{
    font-size: 50px;
    text-transform: uppercase;
    color:pink;   

}


#footer{
    grid-area: footer;
}

.main{
    grid-area: main_content;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "buttonHome" "main_map" ;
    display: grid;
}

#survey{
    height:80vh;
    grid-area: survey;
}

#space_for_buttons{
    grid-area: buttonHome;
}

#contents{
    grid-area: content;
    display: grid;
}

#the_map{
    height:80vh;
    grid-area: main_map;
}
